body {
  color-scheme: only light;
  color: white;
  /* background-image: -webkit-linear-gradient(15deg, rgb(77, 0, 57) 0%, rgb(48, 1, 74) 20%, rgb(1, 43, 74) 50%, rgb(48, 1, 74) 80%, rgb(77, 0, 57) 100%); */
  background-color: rgb(16,65,82);
  font-family: 'Roboto', sans-serif;
}

/* The side navigation menu */
div.sidebar1 {
  margin: 0;
  padding: 0;
  width: 280px;
  position: fixed;
  height: 98.5%;
  overflow: auto;
  background-color: rgb(8,34,43);
  font-weight: bold;
  border-radius: 15px;
}

div.sidebar2 {
  margin: 0;
  padding: 0;
  width: 280px;
  position: fixed;
  height: 98.5%;
  overflow: auto;
  float: left;
  right: 0;
  background-color: rgb(8,34,43);
  font-weight: bold;
  border-radius: 15px;
}

div.sidebar1 p {
  margin-left: 15px;
}

div.sidebar1 ul {
  padding-bottom: 10px;
}

div.sidebar1 li {
  margin-left: -25px;
  margin-right: 10px;
  list-style-type: none;
}

div.sidebar2 li {
  margin-left: -10px;
  margin-right: 20px;
  list-style-type: none;
}

/* Sidebar links */
a {
  color: aqua;
  text-decoration: none;
}

/* Links on mouse-over */
div.sidebar1 a:hover, div.sidebar2 a:hover, summary:hover {
  background-color: #004d4d;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content, div.changelog, div.footer {
  margin-left: 280px;
  margin-right: 280px;
  padding: 1px 16px;
  height: 100%;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

h2.disclaimer {
  background-color: rgb(255, 179, 179);
  color: rgb(179, 0, 0);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.h2 {
  /* display: block; */
  font-size: 1.5em;
  margin-top: 0.7em;
  margin-bottom: 0.6em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h3 {
  /* display: block; */
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

div.sidebar1 h2, div.sidebar2 h2 {
  text-align: center;
}

div.footer {
  margin-top: 40px;
  float: right;
}

summary {
  color: aqua;
  cursor: pointer;
}

a.tooltip {
  text-decoration: none;
}

a.tooltip span.tooltip {
  display: none;
  border-radius: 10px;
  background: rgb(16,65,82);
  max-width: 512px;
}

a.tooltip span.tooltip img {
  width: 100%;
}

a.tooltip:hover span.tooltip {
  display: block;
  /* float: right; */
  right: 0;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
}

span.fi-yu {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/61/Flag_of_Yugoslavia_%281946-1992%29.svg)
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1000px) {
  div.sidebar1, div.sidebar2 {
    width: 100%;
    height: auto;
    position: relative;
  }
  div.sidebar1 a {float: none;}
  div.sidebar2 a {float: none;}
  div.content, div.changelog, div.footer {
    margin-left: 0;
    margin-right: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  div.sidebar1 a, div.sidebar2 a {
    text-align: center;
    float: none;
  }
}

.datever_ancient {
    color: lightgrey;
}
.datever_2020 {
    color: rgb(180, 128, 255);
}
.datever_2021 {
    color: rgb(255, 128, 180);
}
.datever_2022 {
    color: rgb(255, 128, 128);
}
.datever_2023 {
    color: rgb(255, 146, 64);
}
.datever_2024 {
    color: rgb(255, 195, 43);
}
.datever_2025 {
    color: rgb(255, 255, 131);
}
.datever_2026 {
    color: lightgreen;
}